<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Donate to Naomi!</h1>
    <p>
      We work hard to provide open-source projects and support for programming
      communities at no cost.
    </p>
    <p>
      This is only feasible thanks to generous donations from community managers
      such as yourself.
    </p>
    <p>Please consider donating so we may continue doing the work we do.</p>
    <h2>GitHub</h2>
    <p>
      GitHub is the preferred method for donating. You are able to donate the
      suggested $5/month, make one-off donations, or set a custom amount.
    </p>
    <p>
      You can also donate to a specific organisation to show your support for
      those particular projects.
    </p>
    <p>
      <a href="https://github.com/sponsors/naomi-lgbt" target="_blank"
        >Naomi's Personal Projects</a
      >
      |
      <a href="https://github.com/sponsors/nhcarrigan" target="_blank"
        >Naomi's Professional Projects</a
      >
      |
      <a href="https://github.com/sponsors/beccalyria" target="_blank"
        >Becca Lyria</a
      >
      |
      <a href="https://github.com/sponsors/rosalianightsong" target="_blank"
        >Rosalia Nightsong</a
      >
      |
      <a href="https://github.com/sponsors/beccalia" target="_blank"
        >Beccalia</a
      >
      |
      <a href="https://github.com/sponsors/naomis-novas" target="_blank"
        >Open-Source Community</a
      >
    </p>
    <h2>Discord</h2>
    <p>
      You can also donate through Discord's new server subscription programme!
      You cannot customise the amount, but this can be convenient if you already
      have Discord Nitro.
    </p>
    <p>
      <a
        href="https://discord.com/servers/naomi-s-novas-1149976413319999508"
        target="_blank"
        >Server Subscription Page</a
      >
      |
      <a href="https://chat.nhcarrigan.com" target="_blank">Join the Server</a>
    </p>
    <h2>Other Options</h2>
    <p>We also accept donations through Patreon, Ko-Fi, and Paypal.</p>
    <p>
      <a href="https://www.patreon.com/nhcarrigan" target="_blank">Patreon</a> |
      <a href="https://ko-fi.com/nhcarrigan" target="_blank">Ko-Fi</a> |
      <a href="https://paypal.me/nhcarrigan" target="_blank">Paypal</a>
    </p>
    <h2>Direct Gifts</h2>
    <p>
      If you want to purchase a physical gift, you can do so through our
      <a href="https://throne.me/naomilgbt" target="_blank">Throne page</a>. You
      can even suggest your own gift ideas!
    </p>
  </div>
</div>
